@media (min-width: 1200px) {
  .menu-item-has-children {
    span {
      padding: 30px 20px 30px 0 !important;
    }

    a {
      padding: 10px 5px !important;
      font-size: 14px !important;
    }
  }

  .menu-item-has-children ul {
    padding: 20px 30px;
    width: 245px;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 80px;
    z-index: 10;
    visibility: hidden;
    opacity: 0;
    transform: translateY(-10px);
    transition: all .2s ease;
    border-radius: 20px;
    background: rgba(254, 241, 222, 0.95);

  }

  .menu-item-has-children:hover>ul {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }


}

@media (max-width: 1200px) {
  .menu-item-has-children::after {
    background-image: url("../images/dest/icons/arrow-down.svg");
    width: 13px;
    height: 6px;
  }

  .header__mob {
    display: flex;
  }

  .social {
    flex-direction: row !important;
  }

  .header__menu-btn {
    margin: 0 0 0 30px;
    padding: 0;
    display: block;
    width: 25px;
    height: 10px;
    position: relative;
    z-index: 100;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: none;
    flex-shrink: 0;
  }

  .header__menu-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #0e0a01;
    transition: linear .2s;
  }

  .header__menu-btn::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 60%;
    height: 1px;
    background-color: #0e0a01;
    transition: linear .2s;
  }

  .header__menu-btn span {
    margin: 0 0 0 auto;
    // display: block;
    display: none;
    width: 70%;
    height: 3px;
    background-color: #0e0a01;
    transition: linear .2s;
  }

  .header__menu-btn.active {
    &::after {
      transform: rotate(45deg);
      bottom: 4px;
      width: 100%;
    }

    span {
      transform: translateX(20px);
      opacity: 0;
    }

    &::before {
      transform: rotate(-45deg);
      top: 4px;
    }
  }

  .header__nav {
    margin: 0;
    position: fixed;
    top: 80px;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 80px);
    z-index: 99999;
    display: flex;
    padding: 30px 15px 95px 15px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    transform: translate(100%);
    overflow: auto;
    background-color: #FFFAF3;
    opacity: 0;
    transition: linear .3s;
  }

  .header__nav ul {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .header__nav li {
    margin: 0 0 20px !important;
    transform: translateX(100%);
    opacity: 0;

  }

  .header__nav li:nth-child(odd) {
    transition: linear .5s;
  }

  .header__nav li:nth-child(even) {
    transition: linear .7s;
  }

  .header__nav.open {
    transform: translateX(0);
    opacity: 1;
  }

  .header__nav.open li {
    opacity: 1;
    transform: translateX(0);
  }

  .header__nav.open li {
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-item-has-children.active {
    .sub-menu {
      margin: 20px 0 0 0;
    }
  }

  .header__nav ul.sub-menu {
    max-height: 0;
    border-radius: 10px !important;
    transition: linear .2s;

    li {
      margin: 0 !important;
    }

    li:first-child {
      a {
        border-radius: 10px 10px 0 0;
      }
    }

    a {
      padding: 12px 5px 12px 25px;
    }
  }

  .header__mob {
    max-width: 100% !important;
    width: 100% !important;

    .btn {
      max-width: 100% !important;
      width: 100% !important;
      text-align: center;
    }
  }

  .header__mob {
    .btn {
      color: #0e0a01;
    }
  }

  .header__nav>ul li a,
  .header__nav>ul li span {
    display: block;
    padding: 15px 35px 15px 20px;
    background-color: rgba(0, 149, 212, 0.1);
    width: 100%;
  }

  .header__nav>ul li span {
    border-radius: 10px !important;
  }

  .menu-item-has-children,
  .header__nav>ul>li {
    border-radius: 10px;
    overflow: hidden;
  }

  .menu-item-has-children::after {
    top: 21px;
    right: 15px;
    transition: linear .2s;
  }

  .menu-item-has-children.active {
    &::after {
      transform: rotate(180deg);
    }
  }

  .header__mob {
    width: fit-content;

    a {
      background-color: transparent !important;
    }
  }

  .header__inner>.btn--blue {
    display: none;
  }

  .intro h1 {
    margin: 0 0 30px 0;
    font-size: 56px;
    line-height: 110%;

    span {
      font-size: 48px;
    }
  }

  .btn {
    height: 45px;
    font-size: 14px;
  }

  .intro__right {
    max-width: 600px;
    flex-shrink: 0;
    margin: 0 -20px 0 0;
  }


  .u-item__left img {
    width: 300px;
    object-position: 0 5px;
  }

  .u-item__right {
    padding: 70px 20px 70px 335px;
  }

  .preference--team .preference__item {
    width: calc(33.33333% - 25px);
  }

  .f-preference__inner {
    zoom: .7;
    max-width: 1200px;
    margin: 0 auto;
  }

  .f-preference__left li:nth-child(3) {
    transform: translate(57px, 10px);
  }

  .intro__btns {
    box-sizing: border-box;
  }

  .intro__left .swiper-button-next {
    right: -445px;
  }

  .intro__left {
    max-width: 500px;
  }

  .header__tel {
    margin: 0 0 0 auto;

    a {
      font-size: 0;
    }
  }

  .header__tel::after {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .header__lang {
    display: none;
  }

  .header.active {
    .header__tel {
      display: none;
    }

    .header__lang {
      margin: 0 0 0 auto;
      display: flex;
    }
  }

  .timetable ul li span {
    font-size: 16px;
  }
}




@media (max-width: 992px) {
  .intro h1 {
    font-size: 36px;
    line-height: 110%;

    span {
      font-size: 30px;
    }
  }

  .intro__right {
    max-width: 500px;
    height: 500px;
  }

  .intro__slider {
    height: 500px;
  }

  .intro .swiper-button-next {
    width: 65px;
    height: 65px;
    border: 8px solid #fffaf3;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .header__logo {
    width: 75px;
  }

  .header__inner {
    height: 55px;
  }

  .intro {
    padding: 10px 0 30px;
  }

  .u-item h5 {
    font-size: 28px;
    margin: 0 0 10px 0;
  }

  .u-item h6 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  h3 {
    font-size: 28px !important;
  }

  .services h4 {
    font-size: 16px;
  }

  .services .btn {
    font-size: 12px;
  }

  .services h6,
  .preference h6 {
    font-size: 18px;
    padding: 5px 10px;
  }

  .preference h6 {
    margin: 0 0 10px 0;
  }

  .preference p {
    padding: 5px 10px;
    margin: 0;
  }

  .services {
    padding: 30px 0 55px;
  }

  .video h4 {
    font-size: 16px;
    margin: 0 0 15px 0;
  }

  .video p {
    margin: 0 0 10px 0;
  }

  .video__left {
    max-width: 365px;
  }

  .u-contacts ul li {
    font-size: 16px;
  }

  .header__nav {
    top: 55px;
    height: calc(100vh - 55px);
  }

  .footer__coll:nth-child(2) li,
  .footer__title {
    font-size: 16px;
  }

  .footer__inner {
    flex-wrap: wrap;
  }

  .footer__coll {
    width: calc(50% - 100px);
  }

  .footer__coll:nth-child(1) {
    width: 100%;
  }

  .footer__coll:nth-child(2) {
    width: 100%;
  }

  .footer__coll:nth-child(5) {
    max-width: 100%;
    width: 100%;
  }

  .footer__coll {
    margin: 25px 0 0 75px;
  }

  .u-intro h1 {
    font-size: 30px;
  }

  .instruction strong,
  .instruction span {
    margin: 20px 0 15px 0;
    font-size: 16px;
  }

  .meet .container>p {
    font-size: 16px;
  }

  .meet__item span,
  .team__img+h6 {
    font-size: 14px;
  }

  .meet__item p {
    margin: 0 0 20px 0;
  }

  .accordion-item {
    padding: 20px 20px 15px 20px;
    margin: 0 0 20px 0;
  }

  .accordion-item.active {
    border-radius: 30px;
  }

  .accordion-title {
    font-size: 16px;
  }

  .faq {
    padding: 20px 0 70px;
  }

  .team {
    margin: 70px 0 0;
  }

  .team-line h6 {
    font-size: 20px;
  }

  .form h3 {
    margin: 0 0 20px 0;
    font-size: 20px !important;
  }

  .form__inner {
    padding: 20px;
  }

  .form-contacts {
    padding: 15px;
  }

  .publication {
    padding: 30px 0 30px;
  }

  .preference__inner h3,
  .work-line h3 {
    font-size: 20px !important;
  }

  .preference__inner .list li {
    margin: 0 0 15px 0;
  }

  .preference__left,
  .preference__right {
    padding: 20px;
    border-radius: 30px;
  }

  .work-join {
    padding: 30px 0 30px;
  }

  .work-line {
    margin: 70px 0 70px;
  }

  .d-info__inner {
    padding: 70px 0;
  }

  .d-info h2 {
    font-size: 28px;
  }

  .timetable ul li p {
    font-size: 14px;
  }


  .timetable ul li {
    padding: 15px;
    width: calc(25% - 25px);
  }

  .u-program__list h5 {
    font-size: 18px;
  }

  .u-program__list>div {
    width: calc(33.33333% - 25px);
  }

  .timetable+.u-program .u-program__list>div:last-child {
    margin: 0 0 0 25px;
  }

  .u-talent__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .u-talent__left {
    margin: 0 0 30px 0;
    max-width: 100%;
  }

  .u-talent__right {
    max-width: 100%;
  }

  .u-plus__list>div {
    width: calc(50% - 25px);
  }

  .d-info {
    margin: 20px 0;
  }

  .timetable {
    padding: 60px 0 60px;
  }

  .u-program {
    padding: 60px 0 50px;
  }

  .u-talent {
    padding: 20px 0 70px;
  }

  .u-plus {
    padding: 70px 0 20px;
  }

  .u-program--flex-start h5 {
    font-size: 14px;
  }

  .d-program__list>div {
    width: calc(20% - 25px);
  }

  .pool__list>a {
    height: 295px;
  }

  .d-program {
    padding: 30px 0 30px;
  }

  .pool {
    padding: 50px 0 30px;
  }

  .tringle__left {
    transform: translateX(0);
    max-width: 100%;
    margin: 0 0 40px 0;
  }

  .tringle__inner {
    flex-direction: column;
  }

  .tringle {
    padding: 70px 0 5px;
  }

  .tringle__right {
    margin: 0 auto;
    zoom: .6;
  }

  .u-plus--school .u-plus__list h6 {
    font-size: 18px;
  }

  .articl {
    padding: 70px 0 0 0;
  }

  .articl .container>img {
    border-radius: 30px;
  }

  .articl__inner>div img {
    border-radius: 20px;
  }

  .about__items h5 {
    font-size: 18px;
  }

  .about h3 {
    margin: 40px 0 20px;
  }

  .intro__left {
    max-width: 300px;
  }

  .preference__img {
    margin: 0;
  }

  .preference h6 {
    margin: 0;
    padding: 5px 10px 0 10px;
  }

  .preference {
    padding: 35px 0;
  }

  .u-contacts span {
    font-size: 16px;
  }

  .u-contacts__right ul:nth-child(5) {
    li {
      font-size: 13px;
    }
  }

  .timetable ul li span {
    text-align: center;
    font-size: 12px;
  }

  .u-talent__left .btn {
    display: none;
  }

  .u-talent__right .btn {
    display: flex;
  }

  .date {
    font-size: 12px;
  }

  .services__list .btn {
    font-size: 13px;
  }

  .publication .services__list h6 {
    font-size: 14px;
  }

  .form .select-wrap>span,
  .form__input-wrap span,
  .form__textarea-wrap span,
  .form .select-wrap span {
    font-size: 12px;
  }

  .preference__inner h3 {
    margin: 0 0 15px 0;
  }

  .work-join {
    padding: 30px 0 0;
  }

  .margin-top {
    margin-top: 55px !important;
  }

  .intro__btns {
    flex-direction: column;
    align-items: flex-start;

    .btn {
      width: 100%;
      margin: 0 0 15px 0;
    }
  }

  .intro__left .swiper-button-next {
    right: -465px;
  }

  .intro__left .swiper-button-next::after {
    width: 75px;
    height: 92px;
  }

  .team-line--team {
    margin: 0 0 25px !important;
  }

  .intro .btn {
    padding: 12px 30px;
  }

  .work-join ul li {
    margin: 0 0 15px 0;
  }

  .u-item.u-item--green {
    padding: 40px 0 50px;
  }
}

@media (max-width: 768px) {
  .u-intro__inner {
    padding: 17px 0;
  }

  .u-intro {
    margin: 0 0 20px 0;
  }

  .intro__inner {
    flex-direction: column-reverse;
  }

  .intro__left {
    margin: 0;
  }

  .circle {
    display: none;
  }

  .intro__right {
    margin: 0 0 30px 0;
    max-width: 100%;
    height: 330px;
  }

  .intro__slider {
    height: 330px;
  }

  .intro .swiper-button-next {
    top: -100px;
    right: 14%;
  }

  .intro__left .swiper-button-next::after {
    width: 76px;
    height: 90px;
    left: 65%;
  }

  .intro .swiper-slide img {
    border-radius: 30px;
  }

  .intro h1 {
    line-height: 88%;
  }

  .intro .social {
    display: none;
  }

  .u-item__right {
    padding: 20px 20px 285px 20px;
  }

  .intro__btns {
    margin: 0;
  }

  .u-item {
    padding: 40px 0;
  }

  .u-item.u-item--pink {
    padding: 40px 0 50px
  }

  .u-item__inner {
    border-radius: 30px;
  }

  .u-item__right .btn {
    margin: 0 0 0 auto;
  }

  body,
  ul li {
    line-height: 140%;
  }

  .services__list>div {
    width: calc(50% - 25px);
  }

  .video__wrap {
    flex-direction: column;
    align-items: flex-start;
  }

  .video__left {
    max-width: 100%;
    margin: 0 0 20px 0;
  }

  .video__inner {
    border-radius: 30px;
    border: 8px solid #fffaf3;
  }

  .video {
    padding: 70px 0;
  }

  .u-contacts__inner {
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  .u-contacts__right {
    max-width: 100%;
  }

  .u-contacts__left {
    margin: 0;
  }

  .u-contacts {
    padding: 70px 0;
  }

  .preference__item {
    width: calc(50% - 25px) !important;
  }

  .instruction {
    padding: 70px 0;
    margin: 20px 0 0;
  }

  .instruction__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .instruction__left {
    margin: 0 0 30px 0;
  }

  .instruction__right,
  .instruction--blue .instruction__right {
    height: 350px;
  }

  .meet__item {
    width: calc(50% - 30px);
  }

  .team-line {
    padding: 70px 0 70px;
    text-align: center;
  }

  .preference--team+.team-line {
    margin: 30px 0 50px 0;
  }

  .team-line__rigth {
    margin: 0 auto;
  }

  .form__input-wrapSm {
    flex-wrap: wrap;
  }

  .form__select-wrapSm .select-wrap,
  .form__select-wrapMd .select-wrap,
  .form__input-wrapSm .form__input-wrap {
    width: calc(100% - 25px);
  }

  .form strong {
    margin: 20px 0 20px;
  }

  .u-contacts--page .u-contacts__inner {
    flex-direction: column;
  }

  .u-contacts--page .u-contacts__right {
    margin: 0 0 45px 0;
    max-width: 100%;
  }

  .form-contacts {
    max-width: 100%;
    border-radius: 30px;
  }

  .u-map {
    padding: 70px 0;
  }

  .u-map__inner {
    height: 350px;
  }

  .work-line h3 {
    font-size: 20px;
  }

  .preference__inner {
    flex-direction: column;
  }

  .preference__left,
  .preference__right {
    width: 100%;
  }

  .preference__left {
    margin: 0 0 30px 0;
  }

  .form__input-wrapMd .form__input-wrap {
    width: calc(100% - 25px);
  }

  .u-program__list>div {
    width: calc(50% - 25px);
  }

  .u-program__img,
  .u-program__img {
    height: 165px;
    border-radius: 30px;
  }

  .d-program__list>div {
    width: calc(33.33333% - 25px);
  }

  .pool__list>a {
    height: 205px;
    width: calc(50% - 15px);
    border-radius: 30px;
    margin: 0 0 15px 15px;
  }

  .pool__list {
    margin: 40px 0 0 -15px;
  }

  .timetable ul li {
    width: calc(33.33333% - 25px);
  }

  .u-plus--school .u-plus__list>div {
    width: calc(50% - 25px);
  }

  .u-plus--school .u-plus__img {
    height: 200px;
  }

  .articl__inner>div img {
    height: 120px;
  }

  .modal__left {
    display: none;
  }

  .modal__right {
    padding: 100px 20px 100px 20px;
  }

  .about__img {
    border-radius: 20px;
  }

  .about__img {
    margin: 0 0 10px 0;
    height: 185px;
  }

  .f-preference__inner {
    flex-direction: column;
    zoom: 1;

    li {
      width: 100%;
      transform: translate(0) !important;

      img {
        transform: translate(0) !important;
      }
    }
  }

  .f-preference__left,
  .f-preference__right {
    max-width: 100%;

    br {
      display: none;
    }

    li {
      margin: 0 0 25px 0;
    }

    h5 {
      font-size: 20px;
    }

    p {
      margin: 5px 0 0 0;
    }

    img {
      width: 50px !important;
      height: 50px !important;
    }
  }

  .f-preference__left {
    margin: 0 0 20px 0;
    align-items: flex-end;

    li {
      display: flex;
      justify-content: flex-end;

      img {
        margin: 0 0 0 20px;
      }
    }
  }

  .f-preference__right {
    margin: 40px 0 0 0;

    img {
      margin: 0 20px 0 0;
    }
  }

  .u-program__img {
    height: 200px;
    margin: 0 0 5px 0;
  }

  .u-program__list>div {
    margin: 0 0 30px 25px;
  }

  .f-preference {
    padding: 70px 0 35px;
  }

  .f-preference h3 {
    margin: 0 0 35px 0;
  }

  .u-study {
    padding: 70px 0 30px;
  }

  .list li {
    font-size: 14px;
  }

  .preference--aproaches {
    background-color: #fff6e7;
    padding: 30px 0 85px;
  }

  .preference h4 {
    font-size: 16px;
  }

  .preference h3 {
    margin: 0 0 15px 0;
  }

  .preference__img {
    border-radius: 20px;
  }

  .intro__left {
    max-width: 100%;
  }

  .services__img img,
  .u-contacts__left,
  .meet__img,
  .u-map__inner,
  .instruction__right,
  .form__inner,
  .team__img {
    border-radius: 30px;
  }

  .u-intro {
    position: relative;

    h1 {
      position: relative;
      z-index: 1;
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: rgba(#000, .1);
    }
  }

  .about-page {
    font-size: 15px;
  }

  .about-page ol li,
  .about-page ul li {
    font-size: 15px !important;
  }

  ul li,
  ol li {
    font-size: 15px !important;
  }

  .list li {
    font-size: 13px;
  }

  .meet__item::after {
    border-radius: 30px;
  }

  .footer__inner {
    padding: 45px 0 20px;
  }

  .modal.fancybox-content {
    border-radius: 30px 0 30px 30px;
    overflow: hidden;
  }

  .footer .social {
    display: none;
  }

  .footer .social.social--mob {
    margin: 35px 0 0 0;
    display: flex;
  }

  .intro__left::after {
    display: none;
  }

  .video__left {
    position: relative;

    .btn {
      position: absolute;
      bottom: -570px;
    }
  }

  .video {
    padding: 70px 0 160px;
  }

  .team-line__inner {
    flex-direction: column;
  }

  .preference--team {
    margin: 0;
  }

  .form--questionnaire {
    margin-top: 50px;
  }

  .about {
    padding: 50px 0 0 0;
  }

  .articl span {
    font-size: 10px;
  }

  .articl .container>img {
    border-radius: 20px;
  }

  .footer__coll:nth-child(2) {
    li {
      font-size: 16px !important;
    }
  }

  .intro h1 {
    span {
      br {
        display: none;
      }
    }
  }

  .u-contacts__left {
    max-width: 100%;
  }

  .intro__left {
    min-height: auto;
  }



  .footer__inner {
    justify-content: flex-start;
  }

  .u-contacts ul a,
  .u-contacts ul li {
    font-size: 16px !important;
    font-weight: 500;
  }

  .u-contacts ul:last-child li a,
  .u-contacts ul:nth-child(5) li a {
    font-size: 15px !important;
  }

  .instruction li {
    font-size: 15px !important;
  }

  .u-plus__list>div:last-child {
    margin: 0 0 0 25px;
  }

  .u-item__inner {
    overflow: hidden;
  }

  .u-item__left {
    bottom: -15px
  }

  .d-info.d-info--blue {
    margin: 30px 0 20px;
  }

  .u-program.u-program--flex-start {
    padding: 25px 0 40px;
  }
  .u-program.u-program--flex-start.u-program--pink{
    padding: 70px 0 40px;
  }
  .pool {
    padding: 70px 0 0;
    margin: 0 0 -15px 0;
  }
}


@media (max-width: 576px) {
  .team__img+h6 {
    padding: 10px 22px;
    height: 35px;
    margin: -25px auto 0 auto;

  }

  .header__lang {
    margin: 0 0 0 auto;
  }

  .services__list>div,
  .preference__item {
    width: calc(100% - 25px) !important;
  }

  .services__img,
  .preference__img {
    height: 200px;
  }

  .video__inner {
    height: 180px;
  }

  .u-contacts__left {
    height: 200px;
  }

  .meet__item {
    width: calc(100% - 30px);
  }

  .meet__img {
    height: 200px;
  }

  .team-line__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .team-line__left {
    margin: 0 0 30px 0;
  }

  .timetable ul li {
    padding: 15px;
    width: calc(50% - 25px);
    min-height: 100px;
    border-radius: 20px;
  }

  .u-talent__list>div {
    width: calc(50% - 25px);
  }

  .u-plus__list>div {
    width: calc(100% - 25px);
  }

  .d-program__list>div {
    width: calc(50% - 25px);
  }

  .tringle__right {
    zoom: .38;
  }

  .u-plus--school .u-plus__list>div {
    width: calc(100% - 25px);
  }

  .articl__inner>div {
    margin: 0 0 0 -15px;
  }

  .articl__inner>div img {
    width: calc(50% - 15px);
    margin: 0 0 15px 15px;
  }

  .about__items>div {
    width: calc(100% - 55px);
    margin: 0 0 25px 55px;
  }

  .u-program__list>div {
    width: calc(100% - 25px);
  }


  .meet__item:last-child {
    margin: 0 0 0 25px;
  }

  .u-talent__right .btn {
    width: 100%;
  }

  .d-program__list {
    margin: 40px 0 0 -15px;
  }

  .d-program__list>div {
    margin: 0 0 15px 15px;
    width: calc(50% - 15px);
  }

  .footer__coll:nth-child(2) ul {
    display: flex;
    flex-wrap: wrap;


    li {
      width: 30.33333%;
    }
  }

  .intro__btns {
    flex-direction: column;
    align-items: flex-start;

    .btn {
      width: 100%;
    }
  }

  .intro .btn--yellow {
    margin: 0 0 15px 0;
  }

  .intro .swiper-button-next {
    width: 45px;
    height: 45px;
    border: 8px solid #fffaf3;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .video__left {
    .btn {
      position: absolute;
      bottom: -270px;
    }
  }

  .pool__list>a {
    height: 150px;
    border-radius: 20px;
  }

  .about__items {
    margin: 40px 0 -40px -55px;
  }
}