.select2-container {
  width: 100% !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #444;
  line-height: 37px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  top: 50%;
  transform: translateY(-50%);
}

.select2-container--default .select2-selection--single {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  height: 37px;
}
.select2-dropdown{
  border-radius: 8px;
  border: none;
}

.select2-results__option--highlighted{
  background-color: rgba(#72BF44, .2) !important;
  color: #444 !important;

}