@import "global";
@import "fonts";
@import "btns";
@import "lists";
@import "select";

/*start header===================*/
.header {
  background-color: #FEF1DE;

  &__mob,
  &__menu-btn {
    display: none;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: 80px;
  }

  &__logo {
    width: 125px;
    margin: 0 55px 0 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__nav {
    &>ul {
      display: flex;

      li {
        margin: 0 23px 0 0;

        a,
        span {
          display: flex;
          padding: 30px 0;
          color: rgb(14, 10, 1);
          font-size: 16px;
          font-weight: 500;
          line-height: 19px;
          cursor: pointer;
        }
      }
    }
  }

  &__tel {
    margin: 0 20px 0 auto;
    padding: 0 0 0 25px;
    display: flex;
    flex-direction: column;
    position: relative;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-image: url("../images/dest/icons/tel-1.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
    }

    a {
      margin: 0 0 5px 0;
      display: flex;
      color: rgb(255, 204, 64);
      font-size: 15px;
      font-weight: 600;
      line-height: 17px;
    }
  }

  .btn {
    margin: 0 15px 0 0;
    height: 40px;
    padding: 10px 15px;
    font-size: 15px;
  }

  &__lang {
    color: rgb(191, 191, 191);
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
  }

  &__lang-active {
    color: #0E0A01;
  }
}

.menu-item-has-children {
  display: flex;
  align-items: center;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 0;
    width: 8px;
    height: 4px;
    background-image: url("../images/dest/icons/arrow-down.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
}

/*end header===================*/

/*start intro===============*/
.intro {
  padding: 60px 0 70px;
  overflow: hidden;

  &__inner {
    display: flex;
    align-items: center;
  }

  &__left {
    max-width: 610px;
    width: 100%;
    margin: 0 25px 0 0;
  }

  h1 {
    margin: 0 0 60px 0;
    color: #0095D4;
    font-family: 'Appetite';
    font-size: 76px;
    font-weight: 400;
    line-height: 76px;
    text-align: left;
    text-transform: uppercase;

    span {
      font-size: 60px;
      text-transform: lowercase;
    }
  }

  &__btns {
    margin: 0 0 60px 0;
    display: flex;
    align-items: center;
  }

  .btn--yellow {
    margin: 0 25px 0 0;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
  }

  &__right {
    max-width: 710px;
    width: 100%;
    margin: 0 -125px 0 0;
    overflow: hidden;
    border-radius: 40px;
  }

  &__slider {
    position: relative;
    height: 630px;
    padding: 20px 0 0 0;
  }

  .swiper-wrapper {
    display: flex;
    align-items: center;
  }

  .swiper-slide {
    position: relative;
    height: 80%;
    transition: linear .2s;

    &::before {
      content: "";
      position: absolute;
      top: -22px;
      right: 6px;
      width: 54px;
      height: 54px;
      background-image: url("../images/dest/icons/star-black.svg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      opacity: 0;
      transition: linear 1s;
    }

    img {
      border-radius: 40px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  .swiper-slide-active {
    height: 100%;

    &::before {
      opacity: 1;
      transform: rotate(25deg);
    }
  }

  .swiper-button-prev {
    display: none;
  }

  .swiper-button-next {
    display: flex;
    justify-content: center;
    align-items: center;
    top: auto;
    bottom: 70px;
    position: absolute;
    right: auto;
    left: 400px;
    background-color: #0E0A01;
    border: 15px solid #FFFAF3;
    border-radius: 50%;
    padding: 0;
    width: 93px;
    height: 93px;

    &::after {
      display: none;
    }
  }
}

.circle {
  display: block;
  position: relative;
  width: 140px;
  height: 140px;

  &__img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: linear .2s;
  }

  &:hover {
    .circle__img {
      transform: translate(-50%, -50%) scale(1.5);
    }
  }
}

.emblem {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  color: rgb(74, 74, 74);
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 22px;
  animation: spinZ 20s linear infinite;
  text-align: center;

  span {
    position: absolute;
    display: inline-block;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    line-height: 18px;
    transition: all .5s cubic-bezier(0, 0, 0, 1);
  }

  @keyframes spinZ {
    0% {
      transform: rotateZ(0deg);
    }

    100% {
      transform: rotateZ(360deg);
    }
  }
}

/*end intro===============*/

/*start u-item==============*/
.u-item {
  padding: 70px 0;

  &__inner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 40px;
    background: rgb(0, 149, 212);
    min-height: 375px;
  }

  &__left {
    position: absolute;
    bottom: -1px;
    left: 0;
    font-size: 0;
  }

  &__right {
    padding: 70px 30px 70px 530px;
  }

  h5 {
    margin: 0 0 10px 0;
    color: rgb(255, 255, 255);
    font-family: 'Appetite';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
  }

  h6 {
    margin: 0 0 25px 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }

  p {
    margin: 0 0 25px 0;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 140%;
  }

  &--orange {
    .u-item__inner {
      background-color: #FFCC40;
    }

    h6,
    p {
      color: #0E0A01;
    }
  }

  &--blue {
    .u-item__inner {
      background-color: #0095D4;
    }
  }

  &--green {
    .u-item__inner {
      background-color: #72BF44;
    }
  }

  &--pink {
    .u-item__inner {
      background-color: #FFA89E;
    }
  }
}

/*end u-item==============*/

/*start services==============*/
.services {
  padding: 70px 0 140px;

  h3 {
    margin: 0 0 10px 0;
    color: rgb(14, 10, 1);
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
  }

  h4 {
    margin: 0 0 10px 0;
    color: rgb(14, 10, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }

  p {
    margin: 0 0 30px 0;
    max-width: 655px;
    color: rgba(14, 10, 1, 0.5);
    font-weight: 400;
    line-height: 140%;
  }

  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;

    li {
      position: relative;
      width: calc(33.33333% - 25px);
      margin: 0 0 25px 25px;
    }

    h6 {
      padding: 5px 20px;
      color: rgb(14, 10, 1);
      font-family: 'Appetite';
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;
    }

    p {
      margin: 0 0 10px 0;
      padding: 5px 20px;
      color: rgb(14, 10, 1);
      font-size: 15px;
      font-weight: 400;
      line-height: 140%;
    }

    .btn {
      padding: 10px 15px;
      position: relative;
      z-index: 1;
      height: 50px;
      font-size: 15px;
      border: 6px solid #fff;
      margin: -28px 28px 0 auto;
    }
  }



  &__img {
    height: 290px;

    img {
      border-radius: 40px;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }



}

.date {
  border-radius: 0px 50px 50px 0px;
  background-color: #FFFAF3;
  position: absolute;
  left: 0;
  top: 45px;
  padding: 10px;
  color: rgb(14, 10, 1);
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
}

/*end services==============*/

/*start video=========*/
.video {
  padding: 140px 0;
  background-color: rgb(230, 240, 240);

  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    max-width: 465px;
    width: 100%;
    margin: 0 25px 0 0;
  }

  h3 {
    margin: 0 0 10px 0;
    font-family: 'Appetite';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;

    span {
      color: #0095D4;
    }
  }

  h4 {
    margin: 0 0 30px 0;
    color: rgb(14, 10, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }

  &__text {
    p:last-child {
      color: rgba(#0E0A01, .5);
    }
  }

  p {
    margin: 0 0 30px 0;
    font-weight: 400;
    line-height: 140%;
  }

  &__right {
    width: 100%;
  }

}

.video__inner {
  display: block;
  position: relative;
  width: 100%;
  height: 470px;
  overflow: hidden;
  border-radius: 56px;
  border: 15px solid #FFFAF3;

  &:hover {
    .video__img {
      transform: scale(1.1);
    }
  }
}

.video__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: linear .3s;
  z-index: 2;
}


/*end video=========*/

/*start u-contacts==============*/
.u-contacts {
  padding: 140px 0;
  background-color: #0095D4;
  color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    max-width: 630px;
    width: 100%;
    height: 550px;
    border-radius: 40px;
    overflow: hidden;
    margin: 0 25px 0 0;

    iframe {
      width: 100%;
      height: 100%;
      outline: none;
      border: none;
    }
  }

  &__right {
    max-width: 525px;
    width: 100%;
  }

  span {
    display: flex;
    margin: 0 0 20px 0;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }

  h3 {
    margin: 0 0 10px 0;
    color: rgb(255, 255, 255);
    font-family: 'Appetite';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
  }

  p {
    margin: 0 0 30px 0;
    color: rgb(255, 255, 255);
    font-weight: 400;
    line-height: 140%;
  }

  ul {
    margin: 0 0 50px 0;

    li,
    a {
      display: flex;
      align-items: center;

      img {
        margin: 0 25px 0 0;
      }
    }

    li {
      margin: 0 0 15px 0;
      padding: 10px 20px;
      color: rgb(255, 255, 255);
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
      border-bottom: 1px solid #fff;
    }

  }

  ul:last-child {
    li {
      font-size: 15px;
    }
  }

  &--page {
    padding: 25px 0 100px;
    background-color: transparent;

    * {
      color: #0E0A01 !important;
    }

    ul li {
      border-bottom: 1px solid rgb(14, 10, 1);
    }

    .u-contacts__right {
      max-width: 525px;
      width: 100%;
      margin: 0 25px 0 0;
    }


  }

}

.form-contacts {
  max-width: 635px;
  width: 100%;
  padding: 40px;
  border-radius: 40px;
  background: rgb(138, 197, 172);

  input,
  textarea {
    background: rgba(255, 255, 255, 0.7) !important;
  }

  h3 {
    color: #fff !important;
  }

  p {
    color: #fff !important;
  }

  .form__input-wrap {
    span {
      margin: 0;
      color: #fff !important;
    }
  }

  .form__textarea-wrap {
    span {
      margin: 0;
      color: #fff !important;
      font-size: 15px;
      font-weight: 400;
      line-height: 140%;
    }

    textarea {
      padding: 10px;
      resize: none;
      border-radius: 8px;
      background: rgba(255, 255, 255, 0.7);
      height: 100px;
      width: 100%;
      border: none;
      outline: none;
    }
  }

  .btn {
    margin: 45px 0 0 0;
    height: 40px;
    padding: 10px 15px;
  }
}

/*end u-contacts==============*/

/*start u-intro==============*/
.u-intro {
  margin: 0 0 70px 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;

  &__inner {
    padding: 45px 0;
    text-align: center;
  }

  h1 {
    color: #fff;
    font-family: 'Appetite';
    font-size: 56px;
    font-weight: 400;
    line-height: 120%;
  }

  &--left-bg {
    background-position: right;
  }
}

/*end u-intro==============*/

/*start preference=========*/
.preference {
  padding: 70px 0;

  .container {
    &>p {
      padding: 0;
      margin: -15px 0 30px 0;
      max-width: 600px;
      color: rgb(14, 10, 1);
      font-weight: 400;
      line-height: 140%;
    }
  }

  .title {
    margin: 0 0 30px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;
    justify-content: center;
  }

  &__item {
    width: calc(33.33333% - 25px);
    margin: 0 0 30px 25px;
  }

  &__img {
    margin: 0 0 20px 0;
    height: 290px;
    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  h6 {
    padding: 0 20px;
    margin: 0 0 20px 0;
    color: rgb(14, 10, 1);
    font-family: 'Appetite';
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }

  p {
    padding: 0 20px;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  &--team {
    .preference__item {
      width: calc(25% - 25px);
      margin: 0 0 30px 25px;
      text-align: center;
    }

    .container>p {
      max-width: 735px;
    }
  }

  h4 {
    margin: 0 0 10px 0;
    color: rgb(14, 10, 1);
    font-size: 20px;
    font-weight: 600;
    line-height: 140%;
  }

  &--aproaches {
    background-color: #FFF6E7;
    padding: 130px 0 85px;

    p {
      color: rgb(113, 113, 113) !important;
    }

    .container>p {
      margin: 0 0 30px 0;
      max-width: 990px;
    }


  }
}

/*end preference=========*/

/*start instruction==========*/
.instruction {
  padding: 140px 0;
  margin: 70px 0;
  background-color: #FFFDC9;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    max-width: 610px;
    width: 100%;
    margin: 0 10px 0 0;
  }

  h3 {
    margin: 0 0 40px 0;
    color: rgb(14, 10, 1);
    font-family: 'Appetite';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
  }

  strong {
    display: flex;
    margin: 30px 0 15px 0;
    color: rgb(14, 10, 1);
    font-family: 'Appetite';
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 15px 0;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  span {
    display: flex;
    margin: 40px 0 20px 0;
    color: #72BF44;
    font-family: 'Appetite';
    font-size: 20px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }

  &__right {
    max-width: 610px;
    width: 100%;
    height: 650px;
    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--blue {
    background-color: rgba(0, 149, 212, 0.1);

    span {
      color: #0095D4;
    }

    .instruction__right {
      height: 780px;
    }
  }
}

/*end instruction==========*/

/*start meet===============*/
.meet {
  padding: 70px 0 15px;

  .container {
    &>.title {
      margin: 0 0 15px 0;
    }

    &>p {
      margin: 0 0 45px 0;
      color: rgb(14, 10, 1);
      font-size: 20px;
      font-weight: 600;
      line-height: 140%;
    }
  }

  &__list-wrap {
    max-width: 1100px;
    margin: 0 auto;
  }

  &__list {

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 0 0 -30px;
  }

  &__item {
    width: calc(33.33333% - 30px);
    margin: 0 0 50px 30px;

    span {
      position: relative;
      z-index: 1;
      padding: 15px 30px;
      margin: -30px auto 15px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: rgb(14, 10, 1);
      font-family: 'Appetite';
      font-size: 18px;
      font-weight: 400;
      line-height: 140%;
      text-align: center;
      text-transform: uppercase;
      width: fit-content;
      border-radius: 50px;
      background: #fffaf3;
    }

    p {
      padding: 0 20px;
      margin: 0 0 35px 0;
      color: rgb(74, 74, 74);
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-radius: 40px;
    background: rgba(217, 217, 217, 0.5);
    height: 300px;

    img {
      display: block;
      margin: 0 auto;
      height: 80%;
      width: 80%;
      object-fit: contain;
    }
  }

  .btn {
    margin: 0 auto;
    height: 45px;
    font-size: 14px;
  }
}

/*end meet===============*/

/*start faq===============*/
.faq {
  padding: 70px 0 140px;
}

.accordion-item {
  overflow: hidden;
  border: 1px solid rgb(113, 113, 113);
  border-radius: 30px;
  padding: 40px 40px 25px 40px;
  margin: 0 0 25px 0;
}

.accordion-content {
  display: none;

  p {
    color: rgb(74, 74, 74);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
  }
}

.accordion-item.active {
  border-radius: 40px;

  .accordion-title {
    span {
      background-color: #0095D4;

      &::before {
        display: none;
      }
    }
  }
}

.accordion-item.active .accordion-content {
  display: block;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 0 0 15px 0;
  margin: 0 0 10px 0;
  color: rgb(14, 10, 1);
  font-family: 'Appetite';
  font-size: 20px;
  font-weight: 400;
  line-height: 140%;
  text-transform: uppercase;
  cursor: pointer;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 20%;
    height: 1px;
    background-color: #70C1E1;
  }

  span {
    margin: 0 0 0 30px;
    flex-shrink: 0;
    position: relative;
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #FFCC40;
    border-radius: 50%;

    &::after,
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 12px;
      height: 1px;
      background: #fff;
    }

    &::before {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

/*end faq===============*/

/*start team==============*/
.team {
  margin: 140px 0 35px;

  &__img {
    width: 100%;
    height: auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__img+h6 {
    position: relative;
    z-index: 1;
    margin: -27px auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    height: 55px;
    color: rgb(14, 10, 1);
    font-family: 'Appetite';
    font-size: 18px;
    font-weight: 400;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 50px;
    background: rgb(255, 250, 243);
    width: fit-content;
  }
}

.team-line {
  margin: 30px 0 0 0;
  padding: 100px 0 85px;
  background-color: #D7CDBB;

  &__inner {
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    margin: 0 30px 0 0;
  }

  h6 {
    margin: 0 0 20px 0;
    color: #0E0A01;
    font-family: 'Appetite';
    font-size: 26px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 15px 0;
    color: #0E0A01;
    font-size: 18px;
    font-weight: 600;
    line-height: 140%;
  }

  &--approaches {
    background-color: #22C2EB;

    p {
      color: rgb(255, 250, 243);
      font-family: 'Appetite';
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;
    }
  }
}

/*end team==============*/


/*start form============*/
.form {
  h3 {
    text-align: center;
  }

  &__inner {
    padding: 40px;
    border-radius: 40px;
    background: rgba(114, 191, 68, 0.2);
  }

  .title {
    margin: 0 0 50px 0;
  }

  &__input-wrap {
    margin: 0 0 23px 0;
    width: 100%;
    display: flex;
    flex-direction: column;

    span {
      color: rgb(14, 10, 1);
      font-size: 15px;
      font-weight: 400;
      line-height: 140%;

      span {
        font-size: 12px;
        color: #717171;
      }
    }

    input {
      height: 37px;
      padding: 10px;
      border-radius: 8px;
      background: rgb(255, 255, 255);
      color: rgb(14, 10, 1);
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
      outline: none;
      border: none;
    }

    input::placeholder {
      color: rgb(191, 191, 191);
    }
  }

  &__select-wrap {
    margin: 0 0 23px 25px;
  }

  &__select-wrapSm {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;

    .select-wrap {
      width: calc(33.33333% - 25px);
    }
  }

  &__select-wrapMd {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;

    .select-wrap {
      width: calc(50% - 25px);
    }
  }

  &__input-wrapMd {
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    margin: 0 0 0 -25px;

    .form__input-wrap {
      width: calc(50% - 25px);
    }
  }

  .select-wrap {
    margin: 0 0 23px 25px;

    span {
      color: rgb(14, 10, 1);
      font-size: 15px;
      font-weight: 400;
      line-height: 140%;
    }
  }

  &__input-wrapSm {
    margin: 0 0 0 -25px;
    display: flex;
    align-items: flex-end;

    .form__input-wrap {
      margin: 0 0 23px 25px;
    }

    .form__input-wrap:first-child {
      width: 145%;
    }
  }

  &__input-wrapMd {
    margin: 0 0 0 -25px;
    display: flex;
    align-items: flex-end;

    .form__input-wrap {
      margin: 0 0 23px 25px;
    }
  }

  strong {
    display: flex;
    margin: 40px 0 20px;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  .u-text {
    max-width: 565px;
    margin: 0 0 10px 0;
  }

  .u-text+p {
    color: rgb(191, 191, 191);
    font-size: 10px;
    font-weight: 500;
    line-height: 140%;

    a {
      text-decoration: underline;
    }
  }

  .btn {
    margin: 40px 0 0 0;
    height: 40px;
  }

  &--work {
    max-width: 1070px;
    width: 100%;
    margin: 0 auto;
  }
}

.basket-form__label {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0 0 15px 0;
  color: #1a1a1a;

  span {
    margin: 0 0 0 10px;
  }
}

.basket-form__radio {
  display: none;
}

.basket-form__check-fake {
  margin: 0;
  position: relative;
  width: 20px;
  height: 20px;
  border: 1px solid transparent;
  border-radius: 50%;
  cursor: pointer;
  background-color: #fff;

  &::before {
    content: "";
    position: absolute;
    top: 3px;
    right: 3px;
    width: 10px;
    height: 10px;
    background-color: #72BF44;
    border-radius: 50%;
    opacity: 0;
  }
}

.basket-form__radio:checked+.basket-form__check-fake {
  border: 2px solid transparent;

  &::before {
    opacity: 1;
  }
}

/*end form============*/

/*start u-map================*/
.u-map {
  background-color: #D6E8DA;
  padding: 100px 0;

  &__inner {
    height: 550px;
    border-radius: 40px;
    overflow: hidden;
  }

  iframe {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
  }
}

/*end u-map================*/

/*start publication===============*/
.publication {
  padding: 70px 0 70px;

  .services__list h6 {
    font-size: 16px;
  }
}

/*end publication===============*/

/*start work======*/
.work-join {
  padding: 70px 0 70px;

  .title {
    text-align: center;
    margin: 0 0 30px 0;
  }

  strong {
    display: flex;
    margin: 0 0 5px 0;
    color: rgb(14, 10, 1);
    font-family: 'Appetite';
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-transform: uppercase;
  }

  p {
    margin: 0 0 5px 0;
  }

  &--one {
    .preference__right {
      h3 {
        color: #FFCC40;
      }

      background-color: #FFF5E1;
    }
  }

  &--one {
    .preference__left {
      h3 {
        color: #0095D4;
      }

      background-color: #E6F0F0;
    }

    .preference__right {
      h3 {
        color: #FFCC40;
      }

      background-color: #FFF5E1;
    }
  }
}

.preference__inner {
  display: flex;
  justify-content: space-between;

  h3 {
    margin: 0 0 35px 0;
    color: rgb(14, 10, 1);
    font-family: 'Appetite';
    font-size: 26px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
  }

  .list {
    margin: 0;
  }

  .list li {
    margin: 0 0 20px 0;
  }

  .list li:last-child {
    margin: 0;
  }
}

.preference__left {
  padding: 40px;
  margin: 0 25px 0 0;
  width: 50%;
  border-radius: 40px;
  background-color: rgba(114, 191, 68, 0.1);

  h3 {
    color: #72BF44;
  }
}

.preference__right {
  padding: 40px;
  width: 50%;
  border-radius: 40px;
  background-color: rgba(0, 149, 212, 0.1);

  h6 {
    color: #0095D4;
  }
}

.work-line {
  background-color: #E6F0F0;
  margin: 70px 0 140px;

  &__inner {
    padding: 70px 0;
  }

  h3 {
    color: #0e0a01;
    font-family: 'Appetite';
    font-size: 28px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    text-transform: uppercase;
  }

  span {
    display: block;
    color: #0095D4;
  }
}

.account-addLogo {
  margin: 0 0 23px 0;

  span {
    color: #0e0a01;
    font-weight: 400;
    line-height: 140%;

    span {
      font-size: 12px;
      color: #717171;
    }
  }

  cursor: pointer;

  input {
    width: 100%;
    height: 37px;
    padding: 10px;
    border-radius: 8px;
    background: #fff;
    color: #0e0a01;
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    outline: 0;
    border: none;
  }

  input[type="file"] {
    display: none;
  }

  &__wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  &__sup {
    margin: 0 0 0 25px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(113, 113, 113);
    font-size: 12px;
    font-weight: 400;
    line-height: 140%;
    height: 37px;
    border: 1px solid rgb(113, 113, 113);
    border-radius: 6px;
  }
}

/*end work======*/

/*start d-info===========*/
.d-info {
  margin: 70px 0;
  background: #F1F4E2;

  &__inner {
    padding: 140px 0;
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;
  }

  h2 {
    margin: 0 0 40px 0;
    font-family: 'Appetite';
    font-size: 40px;
    font-weight: 400;
    line-height: 120%;
    text-align: center;
    color: #72BF44;
  }

  p {
    margin: 0 0 15px 0;
  }

  p:last-child {
    margin: 0;
  }

  &--pink {
    background-color: #FFEEE7;

    h2 {
      color: #0E0A01;

      span {
        color: rgb(255, 168, 158)
      }
    }
  }

  &--blue {
    background-color: #E6F0F0;

    h2 {
      color: #0095D4;
    }
  }
}

/*end d-info===========*/


/*start timetable===============*/
.timetable {
  padding: 70px 0 140px;

  .title {
    margin: 0 0 10px 0;
  }

  .container>p {
    max-width: 920px;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
    margin: 0 0 10px 0;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0 0 -25px;

    li {
      min-height: 135px;
      padding: 25px;
      margin: 0 0 25px 25px;
      width: calc(20% - 25px);
      border-radius: 30px;
      background: rgba(255, 204, 64, 0.1);

      span {
        padding: 10px;
        margin: 0 0 15px 0;
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        background: rgb(255, 255, 255);
        color: rgb(255, 204, 64);
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
      }

      p {
        margin: 0;
        color: rgb(14, 10, 1);
        font-size: 18px;
        font-weight: 600;
        line-height: 140%;
      }
    }

    .rest {
      background: rgba(114, 191, 68, 0.2);

      span {
        color: #72BF44;
      }
    }
  }

  &--school {
    .rest {
      background-color: #E6F0F0;

      span {
        color: #0095D4;
      }
    }
  }
}

/*end timetable===============*/

/*start u-program==============*/
.u-program {
  padding: 140px 0 50px;
  background-color: #F1F4E2;

  .title {
    margin: 0 0 20px 0;
    max-width: 800px;
  }

  .container>p {
    margin: 0 0 20px 0;
  }

  &__list {
    margin: 40px 0 0 -25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    li {
      width: calc(25% - 25px);
      margin: 0 0 40px 25px;
    }

    h5 {
      color: rgb(14, 10, 1);
      font-family: 'Appetite';
      font-size: 20px;
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;
      text-align: center;
    }
  }

  &__img {
    height: 185px;
    border-radius: 40px;
    overflow: hidden;
    margin: 0 0 20px 0;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--flex-start {
    padding-top: 25px;
    background-color: transparent;

    .u-program__list {
      justify-content: flex-start;
    }

    h5 {
      font-size: 16px;
    }
  }

  &--pink {
    padding: 140px 0;
    background-color: #FFE4DD;
  }

  &--approaches {
    background-color: transparent;
    padding: 70px 0 50px;

    .title {
      color: #0095D4;
    }
  }
}

/*end u-program==============*/

/*start u-talent=============*/
.u-talent {
  background-color: #F1F4E2;
  padding: 20px 0 140px;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__left {
    margin: 0 25px 0 0;
    max-width: 510px;
    width: 100%;
  }

  .title {
    margin: 0 0 20px 0;
  }

  p {
    margin: 0 0 15px 0;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  .btn {
    margin: 40px 0 0 0;
  }

  &__right {
    max-width: 610px;
    width: 100%;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 0 0 0 -25px;

    li {
      width: calc(33.33333% - 25px);
      margin: 0 0 25px 25px;
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      color: rgb(14, 10, 1);
      font-family: 'Appetite';
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;
      margin: -12.5px auto 0;
      border-radius: 50px;
      padding: 5px 10px;
      background-color: #fff;
      position: relative;
      z-index: 1;
      text-align: center;
    }
  }

  &__img {
    height: 145px;
    border-radius: 30px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*end u-talent=============*/

/*start u-plus=================*/
.u-plus {
  padding: 140px 0 70px;

  .title {
    margin: 0 0 10px 0;
  }

  .container>p {
    color: rgb(113, 113, 113);
    font-weight: 400;
    line-height: 140%;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 40px 0 0 -25px;

    &>li {
      margin: 0 0 25px 25px;
      width: calc(25% - 25px);
    }

    h6 {
      padding: 0 10px;
      margin: 0 0 10px 0;
      color: rgb(14, 10, 1);
      font-family: 'Appetite';
      font-size: 16px;
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;
    }

    p {
      margin: 0 0 15px 0;
      color: rgb(14, 10, 1);
      font-weight: 400;
      line-height: 140%;
      padding: 0 10px;
    }

    ul {
      padding: 0 10px;

      * {
        font-weight: 400;
      }
    }
  }

  &__img {
    margin: 0 0 25px 0;
    height: 210px;
    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &--school {
    background-color: #FFF6E7;

    .u-plus__list {
      &>li {
        width: calc(33.33333% - 25px);
      }

      h6 {
        font-size: 20px;
      }
    }

    .u-plus__img {
      height: 290px;
      border-radius: 20px;
    }
  }
}

/*end u-plus=================*/

/*start d-program=============*/
.d-program {
  padding: 70px 0 70px;

  .title {
    margin: 0 0 15px 0;
  }

  .container>p {
    max-width: 700px;

  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 40px 0 0 -25px;

    li {
      margin: 0 0 30px 25px;
      width: calc(16.66666% - 25px);
    }

    span {
      display: flex;
      justify-content: center;
      align-items: center;
      width: fit-content;
      color: #0e0a01;
      font-family: 'Appetite';
      font-size: 14px;
      font-weight: 400;
      line-height: 140%;
      text-transform: uppercase;
      margin: -12.5px auto 0;
      border-radius: 50px;
      padding: 5px 10px;
      background-color: #fff;
      position: relative;
      z-index: 1;
      text-align: center;
    }
  }

  &__img {
    border-radius: 30px;
    height: 150px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*end d-program=============*/

/*start pool==========*/
.pool {
  padding: 140px 0 50px;

  .title {
    margin: 0 0 15px 0;
  }

  .container>p {
    margin: 0 0 15px 0;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  &__list {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 40px 0 0 -25px;

    li {
      border-radius: 40px;
      overflow: hidden;
      width: calc(33.33333% - 25px);
      margin: 0 0 25px 25px;
      height: 395px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}

/*end pool==========*/

/*start tringle============*/
.tringle {
  padding: 70px 0 185px;

  &__inner {
    display: flex;
  }

  &__left {
    max-width: 400px;
    transform: translateX(80px);
  }

  .title {
    margin: 0 0 20px 0;
  }

  p {
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  &__right {
    position: relative;
    width: 765px;
    height: 665px;
    flex-shrink: 0;
  }

  &__right-one {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -40px);
    transition: linear .7s;
    opacity: 0;
  }

  &__right-two {
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(-40px);
    transition: linear .7s;
    opacity: 0;
  }

  &__right-three {
    position: absolute;
    z-index: 2;
    bottom: 0;
    left: 49.5%;
    transform: translate(-50%, 40px) scale(.95);
    transition: linear .7s;
  }

  &__right-four {
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(40px);
    transition: linear .7s;
    opacity: 0;
  }

  &__right.element-show {
    .tringle__right-one {
      transform: translate(-50%, 0);
      opacity: 1;
    }

    .tringle__right-two {
      transform: translateX(0);
      opacity: 1;
    }

    .tringle__right-three {
      transform: translate(-50%, 0) scale(.95);
      opacity: 1;
    }

    .tringle__right-four {
      transform: translateX(0);
      opacity: 1;
    }
  }
}

/*end tringle============*/

/*start articl============*/
.articl {
  padding: 140px 0 0 0;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;

  }

  .container>img {
    border-radius: 40px;
    margin: 0 0 30px 0;
  }

  &__inner {
    max-width: 1030px;
    width: 100%;
    margin: 0 auto;

    &>div {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      margin: 0 0 0 -25px;

      img {
        height: 240px;
        width: calc(33.33333% - 25px);
        margin: 0 0 25px 25px;
        border-radius: 30px;
      }
    }
  }

  span {
    margin: 0 0 15px 0;
    display: flex;
    color: rgb(14, 10, 1);
    font-size: 15px;
    font-weight: 400;
    line-height: 140%;
  }

  h3 {
    margin: 0 0 15px 0;
  }

  p {
    margin: 0 0 15px 0;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 140%;
  }

  h5 {
    margin: 0 0 15px 0;
    font-family: 'Appetite';
    line-height: 140%;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

/*end articl============*/

/*start u-study==========*/
.u-study {
  padding: 140px 0;

  .title {
    margin: 0 0 20px 0;
  }

  p {
    margin: 0 0 30px 0;
    color: rgb(0, 0, 0);
    font-weight: 400;
    line-height: 140%;
  }

  li {
    margin: 0 0 12px 0;
  }
}

/*end u-study==========*/

/*start about============*/
.about {
  p {
    margin: 0 0 15px 0;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  .title {
    margin: 100px 0 40px;
  }

  li {
    font-weight: 400 !important;
  }

  &__items-wrap {
    max-width: 850px;
    width: 100%;
    margin: 0 auto;
  }

  &__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin: 80px 0 -40px -55px;

    h5 {
      padding: 0 20px;
      margin: 0 0 10px 0;
      color: rgb(14, 10, 1);
      font-family: 'Appetite';
      font-size: 20px;
      font-weight: 400;
      line-height: 120%;
      text-transform: uppercase;
    }

    p {
      padding: 0 20px;
      color: rgb(14, 10, 1);
      font-weight: 500;
      line-height: 120%;
    }
    
  li {
    width: calc(50% - 55px);
    margin: 0 0 55px 55px;
  }
  }
  &__img {
    margin: 0 0 20px 0;
    height: 275px;
    border-radius: 40px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

/*end about============*/


/*start modal==========*/
.modal {
  display: none;
  max-width: 1070px;
  width: 100%;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__left {
    max-width: 530px;
    width: 100%;
    background-color: #FFF5E1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__img {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    img {
      margin: auto auto 0;
      width: 90%;
      height: 90%;
      object-fit: contain;
    }
  }

  &__right {
    background-color: #FFFAF3;
    padding: 100px 80px 100px 40px;
    width: 100%;
  }

  .title {
    margin: 0 0 25px 0;
  }
}

.fancybox-content {
  padding: 0;
}

.fancybox-close-small {
  background-color: #BFBFBF;
  border-radius: 0 0 0 20px;

  svg path {
    fill: #fff;
  }
}

#modal-4 {
  .title {
    color: #FFCC40;
  }
}

/*end modal==========*/


/*start footer===============*/
.footer {
  &__inner {
    padding: 105px 0 20px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 -75px;
  }

  &__coll {
    margin: 30px 0 0 75px;

    li {
      a {
        display: flex;
      }

      display: flex;
      margin: 0 0 20px 0;
      color: rgb(74, 74, 74);
      font-weight: 400;
      line-height: 140%;

      img {
        display: block;
        width: 18px;
        height: 18px;
        margin: 0 10px 0 0;
      }
    }
  }

  &__logo {
    display: flex;
    width: 125px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  p {
    margin: 20px 0 45px 0;
    color: rgb(14, 10, 1);
    font-weight: 400;
    line-height: 140%;
  }

  &__coll:nth-child(1) {
    max-width: 290px;
  }

  &__coll:nth-child(2) {
    li {
      margin: 0 0 20px 0;
      color: rgb(14, 10, 1);
      font-size: 18px;
      font-weight: 500;
      line-height: 140%;
    }
  }

  &__coll:nth-child(5) {
    max-width: 190px;
  }

  &__title {
    display: flex;
    margin: 0 0 20px 0;
    color: rgb(14, 10, 1);
    font-size: 18px;
    font-weight: 500;
    line-height: 140%;
  }

  &__bottom {
    padding: 20px 0;
    border-top: 1px solid rgb(191, 191, 191);

    p {
      margin: 0;
      color: rgb(74, 74, 74);
      font-size: 12px;
      font-weight: 400;
      line-height: 140%;
    }
  }

}

/*end footer===============*/

@import "media";